In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import time
import ipywidgets as widgets
%gui asyncio
import asyncio

In [2]:
url="https://raw.githubusercontent.com/alooperalta/movieRecommendation/master/content/ml-latest-small/movies.csv"
movies=pd.read_csv(url)
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
movie_title=movies['title']
Genres = movies['genres'].str.get_dummies(sep='|')
movies = pd.concat([movies, Genres], axis=1)
movies.drop(['title','genres','(no genres listed)'],axis=1,inplace=True)
movies.head()

,movieId,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,2,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,4,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,5,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

# Model Creation

In [4]:
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
import random

In [5]:
X=movies
n_clusters=170
recommender=KMeans(n_clusters=n_clusters,random_state=1)
labels=recommender.fit_predict(X)

In [6]:
rndi=dict()
for i in range(n_clusters):
    rndi[i]=[]
for i in range(len(labels)):
    rndi[labels[i]].append(movie_title[i])

In [7]:
cnt=0
for x in rndi.values():
    if len(x)<6:
        cnt+=1
cnt

1

In [ ]:
from IPython.display import clear_output
x=input()
clear_output(wait=True)
ind=movie_title[movie_title==x].index[0]
choice=random.sample(rndi[labels[ind]],5)
for i in choice:
    print(i)